* {
  font-family: Monospace;
  text-decoration: none;
}


.parent {
  max-width: 100%;
  background-color: #C19A6B;
  border: 1px solid #000;
  margin: auto;
}

.parent * { padding: 3px; }

.fit-nice { width: 80%; max-height: 100% }

.border-curl {
  border-radius: 12px;
  margin: auto;
  padding: 16px;
  max-height: 75%;
  overflow-y: auto;
  border: 1px solid #604D35;
  color: #604D35;
}

button {
  background-color: #D2B48C;
  border: 1px solid #000;
}

.button-container {
  margin: 5px;
}

#title-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #465E6B;
  color: #FFF;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  z-index: 1024;
}

#title-screen h1 {
  font-size: 48px;
  color: #6C8C9E;
  text-shadow:
    -1px 0 #000, 0 1px #000,
    1px 0 #000, 0 -1px #000;
}

#start-button {
  padding: 10px 20px;
  font-size: 24px;
  background-color: #EDF1F3;
}

#game {
  display: none;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Monospace;
  background-color: #ACD1AF;
}

@media screen and (max-width: 1000px) {
  #coordinate-system {
    width: 300px;
    height: 300px;
    position: relative;
    margin-bottom: 10px;
    background-color: #ACD1CF;
  }
  
  #grid {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
  }
  
  .cell {
    width: 100px; 
    height: 100px;
    border: 1px #000 solid;
  }
  
  #point {
    width: 20px;
    height: 20px;
    background-color: #FFEE8C;
    border-radius: 50%;
    position: absolute;
    top: 141px;
    left: 141px;
  }
}

@media screen and (min-width: 1000px) {
  #coordinate-system {
    width: 450px;
    height: 450px;
    position: relative;
    margin-bottom: 10px;
    background-color: #ACD1CF;
  }
  
  #grid {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
  }
  
  .cell {
    width: 150px; 
    height: 150px;
    border: 1px #000 solid;
  }
  
  #point {
    width: 40px;
    height: 40px;
    background-color: #FFEE8C;
    border-radius: 50%;
    position: absolute;
    top: 206px;
    left: 206px;
  }
}

#coordinates-describe {
  font-size: 14px;
  margin: 5%;
}

#loots > * {
  padding-left: 5%; 
  padding-right: 5%; 
  margin: auto;
  color: #604D35;
}

#lootItems *
{ border: 1px solid #604D35}

#help-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #2ECC71;
  border: 1px solid #20A570;
  color: #20A570;
  border-radius: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000087;
}

.modal-content {
  background-color: #C19A6B;
  color: #604D35;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #604D35;
  width: 80%;
  border-radius: 5px; 
}

.close-button {
  color: #604D35;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dpad {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dpad > div {
  display: flex;
  gap: 60px;
}

.dpad input {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 20px;
  font-family: Monospace;
  color: #604D35;
  background-color: #D2B48C;
  border: 1px solid #604D35;
}

.container {
  max-width: 600px;
  margin: auto;
}

#user-box {
  display: none;
  color: #604D35;
  border: 1px solid #604D35;
  border-radius: 5px;
  padding: 20px;
  /*box-shadow: 0 2px 10px #0003;*/
  background-color: #C19A6B;
  position: absolute;
  top: 0.5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

#user-description {
  margin-bottom: 20px;
  color: #604D35;
}

#items-contained {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 10px;
}

.grid-item {
  width: 90%;
  gap: 10px;
  background-color: #33333388;
  color: #FFFFFF;
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

#player-equipment {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
 
.equipment {
  width: 100%;
  gap: 10px;
  background-color: #33333388;
  color: #FFFFFF;
  border: 1px solid #333;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0;
  font-size: 16px;
}


.hp-container {
  width: 300px;
  height: 30px;
  border: 2px solid #20A570;
  background-color: #FFF;
  border-radius: 5px;  
  overflow: hidden;
  margin-bottom: 20px;
}

.exp-container {
  width: 300px;
  height: 10px;
  border: 2px solid #0bddb6;
  background-color: #FFF;
  border-radius: 5px;  
  /*overflow: hidden;*/
}

.hp-bar {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  color: #20A570;
  background-color: #2EEC71;
  transition: width 0.3s ease;
}

.exp-bar {
  height: 100%;
  width: 0%;
  white-space: nowrap;
  color: #0bddb6;
  background-color: #4dfed1;
  transition: width 0.3s ease;
}

#import-world {
  resize: none;
  width: 100%;
  max-width: 100%;
}

#enemy-container {
  display: none;
  text-align: center;
  background: #C19A6B;
  border: 1px solid #604D35;
  padding: 20px;
  border-radius: 5px;
  /*box-shadow: 0 0 10px #0002;*/
  white-space: normal;
  width: 280px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.enemy {
  margin-bottom: 20px;
  color: #604D35;
}

#health-bar-enemy {
  width: 100%;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

#health-enemy {
  height: 20px;
  width: 100%;
  background: #4CAF50;
  transition: width 0.5s ease;
}

#battle-actions button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

#message-battle {
  max-width: 270px;
  margin-top: 20px;
  font-weight: bold;
  align-self: center;
  color: #604D35;
  overflow-wrap: break-word;
}

#death {
  display: none;
  font-size: 48px;
}
